// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.landing-page-img {
  width: 50%;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
